.idea/
*.iml
target/
site/
builds/

**/target
bin/
.idea
.classpath
.project
.pydevproject
.settings/
.externalToolBuilders
pom.xml.versionsBackup
maven-eclipse.xml
**/.flattened-pom.xml
**/.mvn/maven.config